1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [12]:
def arithmetic_operation(s):
    l = s.split()
    num1 = int(l[0])
    operator = str(l[1])
    num2 = int(l[2])
    if  num2 == 0 and operator == "//":
        return -1
    elif operator == "+":
        return num1 + num2
    elif operator == '-':
        return num1 - num2
    elif operator == '*':
        return num1 * num2
    elif operator == '//':
        return num1/num2
    else:
        print("Unknown operator")

In [13]:
arithmetic_operation("12 + 12")

24

In [14]:
arithmetic_operation("12 - 12")

0

In [15]:
arithmetic_operation("12 * 12")

144

In [16]:
arithmetic_operation("12 // 0")

-1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [42]:
def perimeter(l):
    #Let the points be A,B,C
    a = l[0]
    b = l[1]
    c = l[2]
    #calculating the length's of triangle
    ab = float(((b[0] - a[0])**2 + (b[1] - a[1])**2))**0.5
    bc = float(((c[0] - b[0])**2 + (c[1] - b[1])**2))**0.5
    ca = float(((a[0] - c[0])**2 + (a[1] - c[1])**2))**0.5
    #Perimeter calculation
    p = float(ab + bc + ca)
    return round(p,ndigits=2)

In [43]:
perimeter([[15,7],[5,22],[11,1]])

47.08

In [44]:
perimeter( [[0,0],[0,1],[1,0]])

3.41

In [45]:
perimeter([[-10, -10],[10,10],[-10, 10]])

68.28

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

In [39]:
def tallest_skyscraper(l):
    k = []
    for i in range(len(l[0])):
        count = 0
        for j in range(len(l)):
            count+=l[j][i]
            k.append(count)
    return max(k)

In [46]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1],
])

3

In [41]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
])

4

In [42]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
])

2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

In [49]:
def bonus(days):
    if days <=32:
        return 0
    elif days<=40:
        return 325 * (days - 32)
    elif days<=48:
        return (325 * (40 - 32) + 550 * (days -40))
    elif days>48:
        return (325 * (40 - 32) + 550 * (48 -40) + 600 * (days - 48))

In [50]:
bonus(15)

0

In [51]:
bonus(37)

1625

In [52]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

In [63]:
def is_disarium(num):
    a = str(num)
    l = list(a)
    sum = 0
    for i in range(0,len(l)):
        sum = sum + (int(l[i]))**(i+1)
    if num == sum:
        return True
    else:
        return False

In [64]:
is_disarium(75)

False

In [65]:
is_disarium(135)

True

In [66]:
is_disarium(544)

False

In [67]:
is_disarium(518)

True

In [68]:
is_disarium(466)

False

In [69]:
is_disarium(8)

True